* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--white);
}

::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    background: var(--white);
    ;
}

::-webkit-scrollbar-thumb {
    background: var(--black)
}

::-webkit-scrollbar-corner {
    background: var(--white);
}

::selection {
    background: var(--lightgrey)
}

:root {
    --white: #FCF9F6;
    --grey: #898989;
    --lightgrey: lightgrey;
    --black: #313131;
}

/* Add-ons here */

body {
    overflow: hidden;
    /* font-family: 'Avenir LT Pro', sans-serif; */
    /* font-weight: 100; */
    /* font-family: 'Avenir', sans-serif; */
    /* font-family: 'Kardinal', sans-serif; */
    /* font-family: monospace; */
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-size: 17px;
    /* font-style: normal; */
}

/* .anchor{
   display: none;
} */

.main {
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.height {
    height: 100vh;
}

#countup {
    color: var(--black);
    font-size: 3rem;
    text-align: center;
}

#countup {
    margin: 30px;
}

.abs-cent {
    position: absolute;
    text-align: center;
    opacity: 0;
    /* Hidden by default */
}

/* 
#countup,
#enter-btn,
#interlude,
video,
#socials {
    position: absolute;
    text-align: center;
    opacity: 0; //Hidden by default
}  */

#enter-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    background: none;
    color: var(--lightgrey);
    border: none;
    cursor: pointer;

    z-index: 1;
    transition: all 1s ease-in-out;
}

#enter-btn:hover {
    color: var(--grey);
    /* font-size: 1.55rem; */
    /* transition: all 0.5s ease-in-out; */
}

.h {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#interlude {
    opacity: 0;
    font-size: 3rem;
}

#introduction {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    opacity: 0;
}

/* video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#vid-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 70%;
}

#vid-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 80%;
}

#trailer {
    max-width: 80%;
}

/*
#video {
    width: 80%;
} */

#socials,
#credits-1,
#credits-2 {
    display: flex;
    gap: 20px;
    margin: 20px;
    bottom: 10px;
    font-size: 1.5rem;
}

#socials a,
#credits-1 a,
#credits-2 a {
    display: inline-block;
    color: var(--grey);
    text-decoration: none;
    transition: all 1s ease-in-out;
}

#socials a:hover,
#credits-1 a:hover,
#credits-2 a:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: var(--black);
}

#credits-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#credits-1,
#credits-2 {
    flex-direction: column;
}

#containerEnd {
    /* height: 100vh; */
    position: relative;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


#antonio {
    font-size: 3rem;
    margin-bottom: 20px;
    transition: all 1s ease-in-out;
    opacity: 0;
}

#antonio:hover {
    color: red;
}

#end {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: end;
}


#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
    /* margin: 75px 0; */

    /* edit nav */
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    height: 100vh;
    width: 20vh;
    transition: all 0.3s ease-in-out;
}

#links:hover {
    opacity: 1;
}

.link {
    text-decoration: none;
    color: var(--black);
    transition: transform 0.3s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
}